.add, .search, .nav-buttons{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
}

.checkPhoto{
    margin: 0 45%;
    display: none;
}

.pr_table {
    width: 600px;
    margin: 0 6.5%;
}

.choose{
    display: block;
    text-decoration: none;
    color: #0275d8;
    margin: 0 80%;
}

.btn.btn-outline-danger{
    margin: 0 auto;
    display: none;
}

.note{
    display: none;
    color: red;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.buttons{
    height: 70px;
}

.alert.alert-danger{
    margin-top: 1%;
    margin-bottom: auto;
}


/* увеличение фото по клику на первью*/
.popup {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
}

.popup_img {
    position: relative;
    margin:0 auto;
    z-index:2;
    max-height:94%;
    max-width:94%;
    margin:1% 0 0 0;
}
/*Конец*/

.filter.table{
    width: 10%;
    float: left;
    margin-right: 1%;
    margin-left: 10px;
}

.product-table.table.table-bordered{
    width: 88%;
}

.filter li{
    list-style-type: none;
}
.filter ul{
    padding-left: 1%;
}

.activity{
    width: 10px;
}

.no-delete-text{
    width: 200px;
    height: auto;
    text-align: center;
    border: 1px solid gray;
    position: absolute;
    border-radius: 10px;
    background-color: #f16868;
    display: none;
}

.col-form-label{
    float: left;
}

.date.form-control{
    width: 300px;
}
.time.form-control{
    width: 206px;
    float: right;
    margin: -40px 0;
}
.date.col-form-label{
    margin-right: 55%;
}

.minicart-icon{
    font: 1em/13px 'PragmaticaC',sans-serif;
    text-transform: uppercase;
}

.login{
    height: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 9px;
}

.nav-item{
    list-style-type: none;
}

.row-admin, .row-site{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.photo-position {
    float: left;
    width: 26%;
    margin-left: 5%;
    padding-top: 2%;
}
.our-nevesty {
    float: left;
    width: 17%;
    margin-left: 5%;
    padding-top: 2%;
}