.add, .search, .nav-buttons{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
}

.checkPhoto{
    margin: 0 45%;
    display: none;
}

.pr_table {
    width: 600px;
    margin: 0 6.5%;
}

.choose{
    display: block;
    text-decoration: none;
    color: #0275d8;
    margin: 0 80%;
}

.btn.btn-outline-danger{
    margin: 0 auto;
    display: none;
}

.note{
    display: none;
    color: red;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.buttons{
    height: 70px;
}

.alert.alert-danger{
    margin-top: 1%;
    margin-bottom: auto;
}


/* увеличение фото по клику на первью*/
.popup {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
}

.popup_img {
    position: relative;
    margin:0 auto;
    z-index:2;
    max-height:94%;
    max-width:94%;
    margin:1% 0 0 0;
}
/*Конец*/

.filter.table{
    width: 10%;
    float: left;
    margin-right: 1%;
    margin-left: 10px;
}

.product-table.table.table-bordered{
    width: 88%;
}

.filter li{
    list-style-type: none;
}
.filter ul{
    padding-left: 1%;
}

.activity{
    width: 10px;
}

.no-delete-text{
    width: 200px;
    height: auto;
    text-align: center;
    border: 1px solid gray;
    position: absolute;
    border-radius: 10px;
    background-color: #f16868;
    display: none;
}

.col-form-label{
    float: left;
}

.date.form-control{
    width: 300px;
}
.time.form-control{
    width: 206px;
    float: right;
    margin: -40px 0;
}
.date.col-form-label{
    margin-right: 55%;
}

.minicart-icon{
    font: 1em/13px 'PragmaticaC',sans-serif;
    text-transform: uppercase;
}

.login{
    height: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 9px;
}

.nav-item{
    list-style-type: none;
}

.row-admin, .row-site{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.photo-position {
    float: left;
    width: 26%;
    margin-left: 5%;
    padding-top: 2%;
}
.our-nevesty {
    float: left;
    width: 17%;
    margin-left: 5%;
    padding-top: 2%;
}


/*Кнопка запись на примерку*/
.button_fitting {
    position: fixed;
    right: 30px;
    top: auto;
    bottom: 70px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    z-index: 999;
    color: #fff;
    border-radius: 100%;
    background: #be9e56;
    transition: all .2s linear;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.button_fitting span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: 0 0;
    border: 2px solid #be9e56;
    opacity: .9;
    border-radius: 100%;
    pointer-events: none;
    -webkit-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
    -moz-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
    -o-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
    animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77)
}

.button_fitting:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

.button_fitting:hover span {
    animation-play-state: initial
}

@keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0
    }
}

.button_fitting .text_button {
    font: 16px/1.2 Verdana, serif;
    text-align: center
}

.btn_callback .text_button {
    padding-top: 6px
}

.button_fitting:hover .text_button {
    left: 0
}
/*Конец кнопки*/

/*мигающая кнопка примерочной */
.atumil_zornegam {
    background: #14226b;
    padding: 7px 12px;
    color: #f7f1f1;
    border: none;
    border-radius: 3px;
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.7, 0.94);
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.68, 0.99);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}


@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

/*//Firefox 1+*/
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

/*//Safari 3-4*/
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
/*конец мигающей кнопки*/